@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /*===================
        COLORS
  ===================*/

  /* Neutral */
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  /* Red */
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  /* Gradient */
  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

  /* Theme Based Colors */
  --primary-clr: var(--neutral-900);
  --background-clr: var(--neutral-0);
  --extension-text-clr: var(--neutral-600);
  --theme-btn-bg: var(--neutral-100);

  --accent-text: var(--neutral-0);
  --interactive: var(--red-700);
  --interactive-hover: var(--red-500);
  --interactive-subtle: var(--neutral-300);
  --interactive-subtle-hover: var(--neutral-100);

  --shadow-clr: rgba(0, 0, 0, 0.08);

  /*===================
        TYPOGRAPHY
  ===================*/
  /* font family */
  --font-family-base: "Noto Sans";

  /* font sizes */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 1.875rem;
  --fs-3xl: 2.25rem;
  --fs-4xl: 3rem;
  --fs-5xl: 3.75rem;
  --fs-6xl: 4.5rem;

  /* font weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /*===================
        SPACING
  ===================*/

  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
}

body {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--fs-base);
  background: var(--light-gradient);
  min-height: 100vh;
}

body.dark {
  --background-clr: var(--neutral-800);
  --primary-clr: var(--neutral-0);
  --extension-text-clr: var(--neutral-300);
  --theme-btn-bg: var(--neutral-700);

  --accent-text: var(--neutral-900);
  --interactive: var(--red-500);
  --interactive-hover: var(--red-700);
  --interactive-subtle: var(--neutral-600);
  --interactive-subtle-hover: var(--interactive-subtle);

  --shadow-clr: rgba(255, 255, 255, 0.2);

  background: var(--dark-gradient);
}

div#root {
  display: grid;
  place-items: center;
}

.btn {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.wrapper {
  display: grid;
  gap: var(--space-lg);

  padding-block: var(--space-lg);
  width: 80%;
}

/*===================
        HEADER
  ===================*/

header {
  display: flex;
  justify-content: space-between;

  background-color: var(--background-clr);
  padding-block: var(--space-xs);
  padding-inline: var(--space-sm);
  border-radius: 1rem;
  width: 100%;
}

.logo {
  color: var(--primary-clr);
}

.theme-btn {
  background-color: var(--theme-btn-bg);
  border: none;
  padding-block: var(--space-xs);
  padding-inline: 0.75rem;
  border-radius: 0.5rem;

  &:focus-visible {
    background-color: var(--interactive-subtle-hover);
    border: 2px solid var(--red-500);
  }

  &:hover {
    background-color: var(--interactive-subtle);
  }
}

/*==================
        MAIN
  ==================*/

main {
  display: grid;
  gap: var(--space-lg);
}

.main-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);

  color: var(--primary-clr);

  @media (width > 800px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.filter-buttons {
  display: flex;
  gap: var(--space-xs);
  align-items: center;
}

.filter-btn {
  background-color: var(--background-clr);
  color: var(--primary-clr);
  padding-inline: var(--space-sm);
  padding-block: var(--space-xs);
  border: none;
  border-radius: 1.5rem;

  font-size: var(--fs-base);

  &:focus-visible,
  &:hover {
    background-color: var(--interactive-subtle-hover);
  }
}

.filter-btn.current {
  background-color: var(--interactive);
  color: var(--accent-text);

  &:hover {
    background-color: var(--interactive-hover);
  }
}

.focus-state:has(.filter-btn:focus-visible) {
  padding: 0.1rem;
  border: 2px solid var(--red-500);
  border-radius: 1.5rem;
}

.extensions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(315px, 100%), 1fr));
  gap: var(--space-xs);
}

/*=========================
        EXTENSION CARD
  ==========================*/

.extension {
  display: grid;
  gap: var(--space-lg);

  background-color: var(--background-clr);
  padding: var(--space-sm);
  border-radius: 1rem;

  box-shadow: 0 0 0 1px var(--shadow-clr);
}

.extension-info {
  display: flex;
  gap: var(--space-xs);
}

.extension-logo {
  align-self: flex-start;
}

.extension-title {
  color: var(--primary-clr);
  margin-block-end: var(--space-2xs);
}

.extension-text {
  color: var(--extension-text-clr);
  font-size: var(--fs-sm);
}

.extension-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background-color: inherit;
  color: var(--primary-clr);
  padding-block: var(--space-xs);
  padding-inline: var(--space-sm);
  border: 1px solid var(--interactive-subtle);
  border-radius: 1.5rem;

  font-size: var(--fs-sm);
  font-weight: var(--font-weight-medium);

  &:focus-visible {
    background-color: var(--interactive-subtle-hover);
    border: 2px solid var(--interactive);
  }

  &:hover {
    background-color: var(--interactive);
    border-color: var(--interactive);
    color: var(--accent-text);
  }
}

.toggle-status {
  display: flex;

  background-color: var(--interactive-subtle);
  padding: 0.1rem;
  border: none;
  border-radius: 1rem;
  width: 2.2rem;
  height: 1.15rem;

  &:focus-visible {
    outline: none;
    border: none;
  }
}

.focus-state:has(.toggle-status:focus-visible) {
  padding: 0.1rem;
  border: 2px solid var(--red-500);
  border-radius: 1rem;
}

.toggle-status.active {
  background-color: var(--interactive);

  &:hover {
    background-color: var(--interactive-hover);
  }
}

.toggle-status span {
  background-color: var(--neutral-0);
  height: 100%;
  width: 1rem;
  border-radius: 50%;

  transition: transform 0.3s ease;
}

.toggle-status.active span {
  transform: translateX(100%);
}
